@import url('https://fonts.googleapis.com/css2?family=Gothic+A1:wght@100&family=IBM+Plex+Sans:wght@700&display=swap');

body {
  background-image: url(gt2.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;

  font-family: 'Gothic A1', sans-serif;
  font-family: 'IBM Plex Sans', sans-serif;
}

.topbar {
  padding: 20px 0;
  text-align: center;
  background: rgba(0,0,0,.5);
  position: absolute;
  top: 0;
  color: rgb(214, 250, 11);
  margin-left: 540px;
  margin-top: 75px;
}

button {
  color: rgb(214, 250, 11);
  font-family: 'Gothic A1', sans-serif;
  font-family: 'IBM Plex Sans', sans-serif;
  background: rgba(70,75,70.03)
}

#worldimage{
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 200px;
  width: 100%;
  max-width: 500px;
  height: auto;
    
}

#worldname{
  height: 30%;
  width: 50%;
  margin: 0;
  text-transform: uppercase;
  text-align: center;
}